.container {
    padding: 40px 60px 20px 60px;
}

.page-heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.center-text-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.summary-content {
    white-space: pre-wrap;
}

.bottom-right-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.continue-button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

    .continue-button:hover {
        background-color: #0056b3;
    }
