<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="page-heading">Case Study: Workplace Harassment</h1>

        <div class="center-text-box">
            <div class="summary-content">
                {{ summary.replace('\n', '<br><br>')|safe }}
            </div>
        </div>
    </div>

    <div class="bottom-right-button">
        <a href="{{ url_for('next_page') }}" class="continue-button">Press to continue</a>
    </div>
</body>
</html>
