<!DOCTYPE html>
<html>
<head>
    <title>Cluster Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Top-right button -->
    <div class="top-right-button">
        <a href="{{ url_for('next_page') }}" class="continue-button">Back to Preferences</a>
    </div>

    <div class="container">
        <h1 class="page-heading">Here is the information organized based on your selected grouping preference</h1>
        
    </div>
</body>
</html>
